<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for("static", filename="js/jquery-2.2.4.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.js") }}"></script>

    <script>
        $(function () {$('[data-toggle="tooltip"]').tooltip()});
    </script>

    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/votes.css") }}">

    <title>{{ company }} Votes{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% if voter %}
    <div class="fixed-top-right">
        {{ voter.email }} &nbsp; <input type="button" class="btn btn-danger" onclick="location.href='/logout';" value="Log Out" />
    </div>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <!-- <strong>Title</strong> --> {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    <div class="footer"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{ quip }}</div>
</body>
</html>