{% extends "base.html" %}

{% block content %}
    <h1>{{ vote.title }}</h1>

    {% if vote.vote_type == "TrackedBallot" %}
    <h3>This is a Tracked Ballot, your vote WILL be tied to your email address, and you WILL be able to edit your vote after you submit!</h3>
    {% elif vote.vote_type == "AnonymousBallot" %}
    <h3>This is an Anonymous Ballot, your vote WILL NOT be tied to anything, and you WILL NOT be able to edit your vote after you submit!</h3>
    {% endif %}
    <hr />

    <form action="/votes/{{ vote.id }}/cast" method="post">
        {{ form.hidden_tag() }}

        {% for field in form._fields if form[field].type not in ["CSRFTokenField", "SubmitField"] %}
            <div>
                <h3>{{ form[field].label }}:</h3> {{ form[field] }}
            </div>
            {% for error in form[field].errors %}
                <div style="color: red;">[{{ error }}]</div>
            {% endfor %}
        {% endfor %}

        <p>
            {{ form.submit }}
            {{ form.delete }}
        </p>
    </form>
    <p><a href="/votes">Go back</a></p>
{% endblock %}